p {
    text-align: center;
    color: #0F0;
}
h1 {
    text-align: justify;
    color: #F00;
}
h2 {
    color: #FF0;
}
p {
    color:#F0F;
}
#watermelon {
    color: #0FF !important;
}
.strawberry {
    color: #000;
}
